Repository keif/keif.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,mdx}": ["prettier --write"],
  "*.{json,yaml,yml}": ["prettier --write"]
}

chore(deps): upgrade Astro to 6.x and clear Dependabot transitives
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(ci): bump Node to 22 for Astro 6 compatibility
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: prettier --write

docs: add tag filter row design spec
  docs/superpowers/specs/2026-06-24-tag-filter-row-design.md
Due: prettier --write

docs: add tag filter row implementation plan
  docs/superpowers/plans/2026-06-24-tag-filter-row.md
Due: prettier --write

feat(tags): add count to getUniqueTags return shape
  src/utils/getUniqueTags.ts
Due: eslint --fix, prettier --write

fix(tags): dedupe tags per post when counting
  src/utils/getUniqueTags.ts
Due: eslint --fix, prettier --write

feat(tags): add TagFilterRow chip-row component
  src/components/TagFilterRow.astro
Due: none

fix(tags): make TagFilterRow sort tiebreaker explicit
  src/components/TagFilterRow.astro
Due: none

feat(tags): render TagFilterRow on posts and tag pages
  src/pages/posts/[...page].astro
  src/pages/tags/[tag]/[...page].astro
Due: none

feat(nav): move Tags from Header to Footer
  src/components/Footer.astro
  src/components/Header.astro
Due: none

style(footer): re-indent to 2 spaces to match other components
  src/components/Footer.astro
Due: none

fix(tags): skip case-variant slugs in TagFilterRow chips
  src/components/TagFilterRow.astro
Due: none

fix(tags): pre-merge cleanups from whole-branch review
  src/components/TagFilterRow.astro
  src/pages/tags/[tag]/[...page].astro
Due: none

fix(tags): always render active tag in chip row
  src/components/TagFilterRow.astro
Due: none

refactor(tags): drop case-variant legacy aliases, fix route collision
  src/components/TagFilterRow.astro
  src/pages/tags/[tag]/[...page].astro
  src/utils/legacyTagMap.ts
Due: eslint --fix, prettier --write

Update funding information to new contributors
  .github/FUNDING.yml
Due: prettier --write

Fix funding configuration in FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

fix(deps): align pnpm.overrides.svelte with installed version
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(blog): add ytdl writeup + project page
  public/images/projects/ytdl.png
  src/data/blog/2026-06-24-building-ytdl.md
  src/data/projects/ytdl.mdx
Due: prettier --write

chore(images): refresh project screenshots
  public/images/projects/phucking-cards.png
  public/images/projects/pointpal.png
  public/images/projects/privity.png
  public/images/projects/squish.png
  public/images/projects/youtube-playlist-generator.png
Due: none

Update FUNDING.yml with sponsorship links
  .github/FUNDING.yml
Due: prettier --write

chore(ci): bump actions/deploy-pages to v5
  .github/workflows/deploy.yml
Due: prettier --write

feat(scripts): support local screenshotUrl with reachability check
  scripts/capture-project-screenshots.js
  src/content.config.ts
Due: eslint --fix, prettier --write

fix(scripts): use 'load' instead of 'networkidle' for screenshots
  scripts/capture-project-screenshots.js
Due: eslint --fix, prettier --write

chore: update ytdl image
  public/images/projects/squish.png
  public/images/projects/ytdl.png
  src/data/projects/ytdl.mdx
Due: prettier --write

chore: update youtube-playlist-generator image
  public/images/projects/youtube-playlist-generator.png
  src/data/projects/youtube-playlist-generator.mdx
Due: prettier --write

feat(overthinking): add Ratatouille and Anyone Can Code essay
  src/assets/images/blog/ratatouille-remy-discovered.gif
  src/assets/images/blog/ratatouille-remy-guides-linguini.gif
  src/assets/images/blog/ratatouille-remy-improves-soup.gif
  src/assets/images/blog/ratatouille-skinner-hat-grab.gif
  src/assets/images/blog/ratatouille-spilling-wine.gif
  src/data/overthinking/ratatouille-anyone-can-code.md
Due: prettier --write

refactor(overthinking): migrate ratatouille post to mdx + FigureImage
  src/data/overthinking/ratatouille-anyone-can-code.mdx
Due: prettier --write

feat(overthinking): add Colette 'how did this happen?' gif
  src/assets/images/blog/ratatouille-colette-how-did-this-happen.gif
  src/data/overthinking/ratatouille-anyone-can-code.mdx
Due: prettier --write

feat(blog): add "Building AS Bump Maker" post
  src/data/blog/2026-07-13-building-as-bump-maker.mdx
Due: prettier --write

feat(components): add GitHubEmbed for inlining code from public repos
  src/components/GitHubEmbed.astro
Due: none

fix(security): pin patched transitive versions (js-yaml, esbuild)
  package.json
  pnpm-lock.yaml
Due: prettier --write
