Repository keif/keif.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,mdx}": ["prettier --write"],
  "*.{json,yaml,yml}": ["prettier --write"]
}

chore(blog): publish Goodbye Jib modernization case study post
  src/assets/images/docker-modernization-cover.webp
  src/data/blog/2025-10-08-goodbye-jib-modernizing-builds.md
Due: prettier --write

docs: update README to reflect enhanced blog setup
  README.md
Due: prettier --write

feat(blog): add featured post rotation system
  README.md
  date-manager.config.json
  docs/DATE_MANAGEMENT.md
  package.json
  scripts/rotate-featured.js
  src/data/astro_blog/adding-new-post.md
  src/data/astro_blog/customizing-astropaper-theme-color-schemes.md
  src/data/astro_blog/dynamic-og-images.md
  src/data/astro_blog/how-to-add-latex-equations-in-blog-posts.md
  src/data/astro_blog/how-to-configure-astropaper-theme.md
  src/data/astro_blog/how-to-integrate-giscus-comments.md
  src/data/astro_blog/how-to-update-dependencies.md
  src/data/astro_blog/predefined-color-schemes.md
  src/data/astro_blog/setting-dates-via-git-hooks.md
  src/data/blog/02-14-2019-docker-override.mdx
  src/data/blog/2020-05-27-fun-code-snippets.md
  src/data/blog/2025-09-12-headless-youtube-playlist-generator.md
  src/data/blog/2025-09-17-last-updated-dates-nextjs-fs.mdx
  src/data/blog/2025-10-08-goodbye-jib-modernizing-builds.md
  src/data/blog/22-01-2019-testivus.mdx
  src/data/blog/migrating-from-gatsby-to-astro.md
Due: eslint --fix, prettier --write

test content change detection
  docs/DATE_MANAGEMENT.md
  scripts/update-post-dates.js
  src/data/blog/2025-09-23-in-defense-of-emojis-in-logs.md
Due: eslint --fix, prettier --write

fix(dates): improve content change detection with gray-matter parsing
  scripts/update-post-dates.js
Due: eslint --fix, prettier --write

feat: add image optimizer project blog post
  package.json
  src/data/blog/2025-10-16-image-optimizer.md
Due: prettier --write

fix(blog): need to refine the squish code a little more
  src/data/blog/2025-10-16-image-optimizer.md
Due: prettier --write

docs: update image optimizer API endpoint to custom domain
  src/data/blog/2025-10-16-image-optimizer.md
Due: prettier --write

feat(projects): add projects collection and showcase page
  public/images/projects/.gitkeep
  public/images/projects/squish.png
  src/components/Header.astro
  src/components/ProjectCard.astro
  src/content.config.ts
  src/data/projects/squish.mdx
  src/pages/projects.astro
Due: eslint --fix, prettier --write

feat: add PointWith.me forked project and modernization story
  .gitignore
  public/images/projects/pointwithme.png
  src/data/blog/2025-10-18-modernizing-pointwithme.md
  src/data/projects/pointwithme.mdx
Due: prettier --write

docs(now): refresh now.md for October 2025 with current projects and focus areas
  src/pages/now.md
Due: prettier --write

docs: update pointwith.me with spectator role and security improvements
  src/data/blog/2025-10-18-modernizing-pointwithme.md
  src/data/projects/pointwithme.mdx
Due: prettier --write

update: add spritesheet packing features and change domain to sosquishy.io
  src/data/blog/2025-10-16-image-optimizer.md
  src/data/projects/squish.mdx
Due: prettier --write

docs(blog): add Render to Fly.io migration article
  src/data/blog/2025-10-19-migrating-from-render-to-flyio.md
Due: prettier --write

feat: add related blog posts to project cards
  src/components/ProjectCard.astro
  src/content.config.ts
  src/data/projects/pointwithme.mdx
  src/data/projects/squish.mdx
  src/pages/projects.astro
Due: eslint --fix, prettier --write

fix: standardize blog tags and complete project-post links
  src/data/blog/2025-10-20-blog-post-migration-to-hetzner.md
  src/data/projects/squish.mdx
Due: prettier --write

fix(blog): flip image optimizer post from draft to published
  src/data/blog/2025-10-16-image-optimizer.md
Due: prettier --write

feat: add rotating site title and improve layout width
  src/components/Header.astro
  src/components/RotatingSiteTitle.astro
  src/data/blog/2020-05-27-fun-code-snippets.md
  src/data/blog/2025-09-23-in-defense-of-emojis-in-logs.md
  src/data/blog/2025-10-16-image-optimizer.md
  src/data/blog/migrating-from-gatsby-to-astro.md
  src/data/projects/youtube-playlist-generator.mdx
  src/styles/global.css
Due: prettier --write

feat: filter draft posts from project related posts
  public/images/projects/youtube-playlist-generator.png
  src/pages/projects.astro
Due: none

refactor: remove redundant hero section and move RSS to nav
  src/constants.ts
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: add blog post on color accessibility and symbol usage
  src/data/blog/2025-10-22-symbols-over-color-accessibility.md
Due: prettier --write

refactor(blog): remove duplicate H1 headings from posts
  src/data/blog/2025-09-23-in-defense-of-emojis-in-logs.md
  src/data/blog/2025-10-20-blog-post-migration-to-hetzner.md
  src/data/blog/2025-10-22-symbols-over-color-accessibility.md
Due: prettier --write

chore: update PointWith.me references to the new PointPal home.
  src/data/blog/2025-10-18-modernizing-pointwithme.md
  src/data/projects/pointwithme.mdx
Due: prettier --write

feat: add project redirect and automated screenshot capture
  package.json
  pnpm-lock.yaml
  public/images/projects/pointpal.png
  public/images/projects/squish.png
  public/images/projects/youtube-playlist-generator.png
  scripts/README.md
  scripts/capture-project-screenshots.js
  src/data/projects/pointwithme.mdx
  src/pages/projects/[slug].astro
Due: eslint --fix, prettier --write

chore: editorialize recent posts
  src/data/blog/2025-09-12-headless-youtube-playlist-generator.md
  src/data/blog/2025-09-13-github-notification-cleanup.mdx
  src/data/blog/2025-10-08-goodbye-jib-modernizing-builds.md
  src/data/blog/2025-10-16-image-optimizer.md
  src/data/blog/2025-10-18-modernizing-pointwithme.md
Due: prettier --write

feat: add blog post on BusyTag Spotify widget macOS port
  src/assets/images/album-change-busy-tag.gif
  src/data/blog/2025-10-31-busytag-spotify-widget.md
Due: prettier --write

chore(blog): update busy tag post with canvas lesson
  src/data/blog/2025-10-31-busytag-spotify-widget.md
Due: prettier --write

chore: add affiliate link disclosure to footer
  src/components/Footer.astro
Due: none

feat: add blog post on Phucking Cards real-time multiplayer implementation
  public/images/projects/phucking-cards.png
  public/images/projects/pointpal.png
  public/images/projects/squish.png
  public/images/projects/youtube-playlist-generator.png
  src/data/blog/2025-11-10-building-phucking-cards.md
  src/data/projects/phucking-cards.mdx
Due: prettier --write

feat: add Phucking Cards project and refactor status badges to support multiple states
  src/components/ProjectCard.astro
  src/content.config.ts
  src/data/projects/phucking-cards.mdx
  src/data/projects/pointwithme.mdx
  src/data/projects/squish.mdx
  src/data/projects/youtube-playlist-generator.mdx
Due: eslint --fix, prettier --write

feat: add GoatCounter event tracking for project links
  src/components/ProjectCard.astro
  src/types/goatcounter.d.ts
Due: eslint --fix, prettier --write

feat: add Callout component and show original publish dates
  src/components/Callout.astro
  src/components/Card.astro
  src/layouts/PostDetails.astro
Due: none

chore(deps): update astro and related packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: make original publish date a subtle byline in Datetime
  src/components/Datetime.astro
Due: none

content(blog): revise and update multiple posts
  src/data/blog/05-16-2020-jbpm.mdx
  src/data/blog/2025-09-12-headless-youtube-playlist-generator.md
  src/data/blog/2025-09-13-github-notification-cleanup.mdx
  src/data/blog/2025-09-17-last-updated-dates-nextjs-fs.mdx
  src/data/blog/2025-09-22-essential-git-commands.mdx
Due: prettier --write

content(blog): add image to emojis-in-logs post
  src/assets/images/blog/rick_morty_english.jpg
  src/data/blog/2025-09-23-in-defense-of-emojis-in-logs.mdx
Due: prettier --write

feat(projects): add project detail pages with full MDX content
  src/components/ProjectCard.astro
  src/pages/projects/[slug].astro
Due: none

fix(projects): set back button to navigate to /projects page
  src/pages/projects/[slug].astro
Due: none

fix: resolve build errors from type mismatches
  package.json
  pnpm-lock.yaml
  src/components/ProjectCard.astro
  src/layouts/PostDetails.astro
Due: prettier --write

feat: add FigureImage component and fix dayjs timezone error
  src/components/FigureImage.astro
  src/data/blog/2025-09-23-in-defense-of-emojis-in-logs.mdx
  src/layouts/PostDetails.astro
Due: prettier --write
