Repository keif/keif.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: add redirects for legacy URLs to resolve 404 indexing issues
  package.json
  src/data/blog/05-16-2020-jbpm.mdx
  src/data/blog/2020-05-27-fun-code-snippets.md
  src/pages/blog/index.astro
  src/pages/tags/[tag]/[...page].astro
Due: prettier --write

pnpm update ran
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(blog): edit some text that reads too much like AI output
  src/data/blog/2025-10-22-symbols-over-color-accessibility.md
Due: prettier --write

chore(blog): update youtube blog post re: lack of updates
  src/data/blog/2025-09-12-headless-youtube-playlist-generator.md
Due: prettier --write

feat(posts): add multi-sort functionality with SEO-safe alternate view
  astro.config.ts
  src/components/PostsSortToggle.astro
  src/layouts/Layout.astro
  src/pages/posts/by-date/[...page].astro
  src/utils/getSortedPostsByPubDate.ts
Due: eslint --fix, prettier --write

chore(blog): update some content, rewrite some bits
  src/data/blog/2025-10-08-goodbye-jib-modernizing-builds.md
  src/data/blog/2025-10-22-symbols-over-color-accessibility.md
Due: prettier --write

chore(docs): update README with improvements to core blog experience
  README.md
Due: prettier --write

feat(redirects): add tracked vanity redirects for LinkedIn and GitHub
  vanity-redirects/github/index.html
  vanity-redirects/linkedin/index.html
Due: none

feat(redirects): add wrangler config for Cloudflare Pages deployment
  vanity-redirects/wrangler.toml
Due: none

feat(redirects): add package.json to vanity-redirects directory
  vanity-redirects/package.json
Due: prettier --write

fix(redirects): update wrangler.toml name to match Cloudflare Pages project
  vanity-redirects/wrangler.toml
Due: none

feat(redirects): add Pages Function for subdomain routing
  vanity-redirects/_functions/[[path]].ts
Due: eslint --fix, prettier --write

fix(redirects): correct ASSETS.fetch usage in routing function
  vanity-redirects/_functions/[[path]].ts
Due: eslint --fix, prettier --write

fix(redirects): serve HTML directly from function instead of fetching assets
  vanity-redirects/_functions/[[path]].ts
Due: eslint --fix, prettier --write

fix(redirects): remove wrangler.toml to use Pages Functions deployment
  vanity-redirects/wrangler.toml
Due: none

fix(redirects): convert Pages Function from TypeScript to JavaScript
  baker.is-Coverage-Drilldown-2026-01-05/Chart.csv
  baker.is-Coverage-Drilldown-2026-01-05/Metadata.csv
  baker.is-Coverage-Drilldown-2026-01-05/Table.csv
  vanity-redirects/_functions/[[path]].js
Due: eslint --fix, prettier --write

chore: add README to trigger deployment
  vanity-redirects/README.md
Due: prettier --write

feat(redirects): add root index.html fallback
  vanity-redirects/index.html
Due: none

fix(redirects): rename _functions to functions for Pages compatibility
  vanity-redirects/functions/[[path]].js
Due: eslint --fix, prettier --write

fix(redirects): move functions to repo root for Pages detection
  functions/[[path]].js
Due: eslint --fix, prettier --write

docs(redirects): add comprehensive documentation for vanity redirects
  vanity-redirects/README.md
Due: prettier --write

chore(blog): move astro examples/old posts into dev archive
  _archive/astro_blog/adding-new-post.md
  _archive/astro_blog/customizing-astropaper-theme-color-schemes.md
  _archive/astro_blog/dynamic-og-images.md
  _archive/astro_blog/how-to-add-latex-equations-in-blog-posts.md
  _archive/astro_blog/how-to-configure-astropaper-theme.md
  _archive/astro_blog/how-to-integrate-giscus-comments.md
  _archive/astro_blog/how-to-update-dependencies.md
  _archive/astro_blog/predefined-color-schemes.md
  _archive/astro_blog/setting-dates-via-git-hooks.md
  _archive/posts/02-17-2019-gatsby-blog-images/gatsby.png
  _archive/posts/02-17-2019-gatsby-blog-images/index.md
  _archive/posts/02-18-2019-javascript-currying/index.md
  _archive/posts/02-18-2019-javascript-currying/slack.png
  _archive/posts/05-16-2020-jbpm/docker-running.png
  _archive/posts/05-16-2020-jbpm/docker-starting.png
  _archive/posts/05-16-2020-jbpm/docker-status-bar.png
  _archive/posts/05-16-2020-jbpm/docker.png
  _archive/posts/05-16-2020-jbpm/index.md
  _archive/posts/05-27-2020-fun-snippets/code.jpeg
  _archive/posts/05-27-2020-fun-snippets/index.md
  _archive/posts/06-17-2020-getting-a-list-of-images/code.jpeg
  _archive/posts/06-17-2020-getting-a-list-of-images/index.md
  _archive/posts/12-01-2019-first-blog/index.md
  src/data/blog/05-16-2020-jbpm.mdx
Due: prettier --write

feat(blog): add new snippet for iterm2 restart
  src/data/blog/2020-05-27-fun-code-snippets.md
Due: prettier --write

feat(blog): new post: Good, Fast, Cheap, Pick Two
  src/data/blog/2026-03-23-good-fast-cheap-pick-two.md
Due: prettier --write

feat(meetups): add Ohio tech meetups directory with filtering
  src/components/Header.astro
  src/components/MeetupCard.astro
  src/content.config.ts
  src/data/meetups/ai-woodstock-cle.mdx
  src/data/meetups/beyond-code.mdx
  src/data/meetups/buckeye-cocoa.mdx
  src/data/meetups/cbusdata.mdx
  src/data/meetups/central-ohio-azure.mdx
  src/data/meetups/central-ohio-python.mdx
  src/data/meetups/cleveland-ai-data.mdx
  src/data/meetups/cleveland-game-devs.mdx
  src/data/meetups/cleveland-pyladies.mdx
  src/data/meetups/cleveland-python.mdx
  src/data/meetups/cleveland-ruby-brigade.mdx
  src/data/meetups/columbus-ai.mdx
  src/data/meetups/columbus-aws.mdx
  src/data/meetups/columbus-code-coffee.mdx
  src/data/meetups/columbus-gamedev.mdx
  src/data/meetups/columbus-ruby-brigade.mdx
  src/data/meetups/columbusjs.mdx
  src/data/meetups/condg.mdx
  src/data/meetups/devops-columbus.mdx
  src/data/meetups/neowit.mdx
  src/pages/meetups.astro
Due: eslint --fix, prettier --write

feat(overthinking): add /overthinking section with first essay
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/RotatingSiteTitle.astro
  src/content.config.ts
  src/data/overthinking/pierce-hawthorne-chevy-chase.md
  src/layouts/OverthinkingDetails.astro
  src/pages/overthinking/[...slug].astro
  src/pages/overthinking/index.astro
Due: eslint --fix, prettier --write

fix(overthinking): respect scheduled publish time on listing and routes
  src/pages/overthinking/[...slug].astro
  src/pages/overthinking/index.astro
  src/utils/postFilter.ts
Due: eslint --fix, prettier --write

feat(overthinking): add /overthinking section with first essay (#1)
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/RotatingSiteTitle.astro
  src/content.config.ts
  src/data/overthinking/pierce-hawthorne-chevy-chase.md
  src/layouts/OverthinkingDetails.astro
  src/pages/overthinking/[...slug].astro
  src/pages/overthinking/index.astro
  src/utils/postFilter.ts
Due: eslint --fix, prettier --write

fix(ci): let pnpm/action-setup read version from packageManager
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): let pnpm/action-setup read version from packageManager (#2)
  .github/workflows/ci.yml
Due: prettier --write

fix(lint): resolve eslint errors blocking CI
  src/components/MeetupCard.astro
  src/pages/[slug].astro
  src/pages/tags/[tag]/[...page].astro
  src/utils/getFeaturedPosts.ts
Due: eslint --fix, prettier --write

feat: add PRivity project page + build log
  public/images/projects/privity.png
  src/data/blog/2026-06-22-building-privity.md
  src/data/projects/privity.mdx
Due: prettier --write

fix(ui): improve accent button contrast and rename X social
  src/constants.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

fix(ui): improve accent button contrast and rename X social
  src/styles/global.css
Due: none

style: fix prettier indent on max-w-app utility
  src/styles/global.css
Due: none

feat(overthinking): add Fridge Projects essay
  src/data/overthinking/fridge-projects.md
Due: prettier --write

feat(overthinking): add link to ytdl
  src/data/overthinking/fridge-projects.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((any of: *.{js,ts,jsx,tsx}) or (any of: *.{md,mdx})) or (any of: *.{json,yaml,yml})
